Repository sensu/sensu-puppet, pull requests merged in 2019-01, with the labels that each got.

#1032 Update JSON for sensuctl create to match docs and disallow asset removal
  lib/puppet/provider/sensu_asset/sensuctl.rb
  lib/puppet/provider/sensu_check/sensuctl.rb
  lib/puppet/provider/sensu_cluster_role/sensuctl.rb
  lib/puppet/provider/sensu_cluster_role_binding/sensuctl.rb
  lib/puppet/provider/sensu_entity/sensuctl.rb
  lib/puppet/provider/sensu_filter/sensuctl.rb
  lib/puppet/provider/sensu_handler/sensuctl.rb
  lib/puppet/provider/sensu_hook/sensuctl.rb
  lib/puppet/provider/sensu_mutator/sensuctl.rb
  lib/puppet/provider/sensu_namespace/sensuctl.rb
  lib/puppet/provider/sensu_role/sensuctl.rb
  lib/puppet/provider/sensu_role_binding/sensuctl.rb
  lib/puppet/provider/sensu_silenced/sensuctl.rb
  lib/puppet/provider/sensuctl.rb
  lib/puppet/type/sensu_asset.rb
  lib/puppet/type/sensu_check.rb
  lib/puppet/type/sensu_entity.rb
  lib/puppet/type/sensu_handler.rb
  lib/puppet/type/sensu_hook.rb
  spec/acceptance/sensu_asset_spec.rb
  spec/acceptance/sensu_check_spec.rb
  spec/acceptance/sensu_entity_spec.rb
  spec/acceptance/sensu_handler_spec.rb
  spec/acceptance/sensu_hook_spec.rb
  spec/acceptance/sensu_silenced_spec.rb
  spec/unit/provider/sensu_asset/sensuctl_spec.rb
  spec/unit/provider/sensu_check/sensuctl_spec.rb
  spec/unit/provider/sensu_cluster_role/sensuctl_spec.rb
  spec/unit/provider/sensu_cluster_role_binding/sensuctl_spec.rb
  spec/unit/provider/sensu_entity/sensuctl_spec.rb
  spec/unit/provider/sensu_filter/sensuctl_spec.rb
  spec/unit/provider/sensu_handler/sensuctl_spec.rb
  spec/unit/provider/sensu_hook/sensuctl_spec.rb
  spec/unit/provider/sensu_mutator/sensuctl_spec.rb
  spec/unit/provider/sensu_namespace/sensuctl_spec.rb
  spec/unit/provider/sensu_role/sensuctl_spec.rb
  spec/unit/provider/sensu_role_binding/sensuctl_spec.rb
  spec/unit/provider/sensu_silenced/sensuctl_spec.rb
  spec/unit/provider/sensuctl_spec.rb
  spec/unit/sensu_asset_spec.rb
  spec/unit/sensu_check_spec.rb
  spec/unit/sensu_entity_spec.rb
  spec/unit/sensu_filter_spec.rb
  spec/unit/sensu_handler_spec.rb
  spec/unit/sensu_hook_spec.rb
  spec/unit/sensu_mutator_spec.rb
  spec/unit/sensu_silenced_spec.rb
Labels: sensu v2

#1028 Do not include sensu::agent class in main sensu
  README.md
  manifests/backend.pp
  manifests/init.pp
  spec/acceptance/00_backend_spec.rb
  spec/classes/backend_spec.rb
  spec/classes/init_spec.rb
Labels: sensu v2

#1030 Improve facts by adding version information facts specific to each component
  README.md
  Vagrantfile
  lib/facter/sensu_facts.rb
  lib/facter/sensu_version.rb
  spec/acceptance/99_facts_spec.rb
  spec/unit/facter/sensu_facts_spec.rb
  spec/unit/facter/sensu_version_spec.rb
Labels: sensu v2

#1027 SSL support and better handling of configure
  README.md
  lib/puppet/provider/sensu_configure/sensuctl.rb
  lib/puppet/type/sensu_configure.rb
  lib/puppet_x/sensu/type.rb
  manifests/backend.pp
  manifests/init.pp
  spec/acceptance/00_backend_spec.rb
  spec/acceptance/01_agent_spec.rb
  spec/acceptance/02_backend_cluster_spec.rb
  spec/acceptance/03_ssl_spec.rb
  spec/classes/backend_spec.rb
  spec/classes/init_spec.rb
  spec/shared_examples/types.rb
  spec/spec_helper.rb
  spec/unit/provider/sensu_configure/sensuctl_spec.rb
  spec/unit/sensu_asset_spec.rb
  spec/unit/sensu_check_spec.rb
  spec/unit/sensu_cluster_member_spec.rb
  spec/unit/sensu_cluster_role_binding_spec.rb
  spec/unit/sensu_cluster_role_spec.rb
  spec/unit/sensu_config_spec.rb
  spec/unit/sensu_configure_spec.rb
  spec/unit/sensu_entity_spec.rb
  spec/unit/sensu_event_spec.rb
  spec/unit/sensu_filter_spec.rb
  spec/unit/sensu_handler_spec.rb
  spec/unit/sensu_hook_spec.rb
  spec/unit/sensu_mutator_spec.rb
  spec/unit/sensu_namespace_spec.rb
  spec/unit/sensu_role_binding_spec.rb
  spec/unit/sensu_role_spec.rb
  spec/unit/sensu_silenced_spec.rb
  tests/ssl/README.md
  tests/ssl/ca.pem
  tests/ssl/ca.srl
  tests/ssl/ca_key.pem
  tests/ssl/cert.pem
  tests/ssl/key.pem
  tests/ssl/localhost.csr
  tests/ssl/openssl.cnf
Labels: sensu v2

#1033 Add puppet-lint plugins
  Gemfile
Labels: sensu v2

#1038 Update README with correct versions of Sensu Go
  README.md
Labels: sensu v2

#1037 Improve type autorequires
  lib/puppet/type/sensu_asset.rb
  lib/puppet/type/sensu_check.rb
  lib/puppet/type/sensu_cluster_member.rb
  lib/puppet/type/sensu_cluster_role.rb
  lib/puppet/type/sensu_cluster_role_binding.rb
  lib/puppet/type/sensu_config.rb
  lib/puppet/type/sensu_configure.rb
  lib/puppet/type/sensu_entity.rb
  lib/puppet/type/sensu_event.rb
  lib/puppet/type/sensu_filter.rb
  lib/puppet/type/sensu_handler.rb
  lib/puppet/type/sensu_hook.rb
  lib/puppet/type/sensu_mutator.rb
  lib/puppet/type/sensu_namespace.rb
  lib/puppet/type/sensu_role.rb
  lib/puppet/type/sensu_role_binding.rb
  lib/puppet/type/sensu_silenced.rb
  lib/puppet_x/sensu/type.rb
  spec/shared_examples/types.rb
  spec/unit/sensu_check_spec.rb
  spec/unit/sensu_cluster_member_spec.rb
  spec/unit/sensu_cluster_role_binding_spec.rb
  spec/unit/sensu_cluster_role_spec.rb
  spec/unit/sensu_config_spec.rb
  spec/unit/sensu_configure_spec.rb
  spec/unit/sensu_entity_spec.rb
  spec/unit/sensu_filter_spec.rb
  spec/unit/sensu_handler_spec.rb
  spec/unit/sensu_mutator_spec.rb
  spec/unit/sensu_namespace_spec.rb
Labels: sensu v2

#1036 Fix sensu_check check_hooks property
  lib/puppet/type/sensu_check.rb
  spec/acceptance/sensu_check_spec.rb
  spec/unit/sensu_check_spec.rb
Labels: sensu v2

#1011 Add sensu_user type
  README.md
  lib/puppet/provider/sensu_configure/sensuctl.rb
  lib/puppet/provider/sensu_user/sensuctl.rb
  lib/puppet/provider/sensuctl.rb
  lib/puppet/type/sensu_cluster_role_binding.rb
  lib/puppet/type/sensu_role_binding.rb
  lib/puppet/type/sensu_user.rb
  manifests/backend.pp
  spec/acceptance/00_backend_spec.rb
  spec/acceptance/02_backend_cluster_spec.rb
  spec/acceptance/sensu_user_spec.rb
  spec/classes/backend_spec.rb
  spec/fixtures/unit/provider/sensu_user/sensuctl/user_list.json
  spec/unit/provider/sensu_user/sensuctl_spec.rb
  spec/unit/sensu_cluster_role_binding_spec.rb
  spec/unit/sensu_role_binding_spec.rb
  spec/unit/sensu_user_spec.rb
Labels: sensu v2

#1040 Add default sensu resources
  README.md
  manifests/backend.pp
  manifests/backend/resources.pp
  spec/classes/backend_resources_spec.rb
  spec/classes/backend_spec.rb
Labels: sensu v2

#1042 Add show_diff parameter
  README.md
  manifests/agent.pp
  manifests/backend.pp
  spec/classes/agent_spec.rb
  spec/classes/backend_spec.rb
Labels: enhancement, sensu v2

#1043 Do not expose changed password and pass properties
  lib/puppet/type/sensu_api_config.rb
  lib/puppet/type/sensu_enterprise_dashboard_api_config.rb
  lib/puppet/type/sensu_enterprise_dashboard_config.rb
  lib/puppet/type/sensu_rabbitmq_config.rb
  lib/puppet/type/sensu_redis_config.rb
  manifests/rabbitmq/config.pp
  spec/classes/sensu_rabbitmq_spec.rb
Labels: sensu v1

#917 Dsc (continued)
  .fixtures-latest.yml
  .fixtures.yml
  README.md
  Vagrantfile
  manifests/client.pp
  manifests/init.pp
  spec/classes/sensu_init_spec.rb
  spec/classes/sensu_service_spec.rb
  spec/spec_helper_acceptance.rb
  tests/provision_basic_debian.sh
  tests/provision_basic_el.sh
  tests/provision_basic_el_puppet6.sh
  tests/provision_basic_win.2.ps1
  tests/provision_basic_win.ps1
Labels: sensu v1

#1044 Fix Amazon 2 to use EL7 repos
  manifests/repo/yum.pp
  metadata.json
  spec/classes/sensu_repo_yum_spec.rb
Labels: bug, sensu v1

#1047 Fix Windows dsc_service when client=>false
  manifests/client.pp
  spec/classes/sensu_service_spec.rb
Labels: bug, sensu v1

#1045 Use beaker 4.x
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: enhancement, sensu v1

#1041 Document name handling for sensu_silenced
  lib/puppet/type/sensu_silenced.rb
  spec/unit/sensu_silenced_spec.rb
Labels: sensu v2

#1048 Fix osx
  Vagrantfile
  metadata.json
  tests/provision_macos.sh
Labels: sensu v1

#1051 Replace deprecated Fixnum with Integer
  lib/puppet/parser/functions/sensu_sorted_json.rb
Labels: bug, sensu v1

#1054 Use sensu-go test-creds subcommand to test user passwords
  Gemfile
  lib/puppet/provider/sensu_user/sensuctl.rb
  spec/acceptance/sensu_event_spec.rb
  spec/acceptance/sensu_user_spec.rb
  spec/unit/provider/sensu_user/sensuctl_spec.rb
Labels: sensu v2

#1056 Convert sensu_sorted_json legacy function to new Ruby function
  Gemfile
  lib/puppet/functions/sensu_sorted_json.rb
  spec/acceptance/class_spec.rb
  spec/functions/sensu_sorted_json_spec.rb
Labels: sensu v1

#1053 Do not enable rabbitmq ssl for empty cert or key
  manifests/rabbitmq/config.pp
  spec/classes/sensu_rabbitmq_spec.rb
Labels: sensu v1

#1057 Sensu2 agent ssl
  manifests/agent.pp
  manifests/backend.pp
  manifests/init.pp
  manifests/ssl.pp
  spec/classes/agent_spec.rb
  spec/classes/backend_spec.rb
  spec/classes/ssl_spec.rb
Labels: sensu v2
