Repository sensu/sensu-puppet, pull requests merged in 2019-03, with the labels that each got.

#1087 Improve style of sensu::repo
  manifests/repo.pp
Labels: sensu v2

#1066 sensu-go enterprise support
  .gitignore
  .travis.yml
  README.md
  lib/puppet/provider/sensu_asset/sensuctl.rb
  lib/puppet/provider/sensu_cluster_role/sensuctl.rb
  lib/puppet/provider/sensu_cluster_role_binding/sensuctl.rb
  lib/puppet/provider/sensu_entity/sensuctl.rb
  lib/puppet/provider/sensu_handler/sensuctl.rb
  lib/puppet/provider/sensu_ldap_auth/sensuctl.rb
  lib/puppet/provider/sensu_mutator/sensuctl.rb
  lib/puppet/provider/sensu_namespace/sensuctl.rb
  lib/puppet/provider/sensu_role/sensuctl.rb
  lib/puppet/provider/sensu_silenced/sensuctl.rb
  lib/puppet/provider/sensu_user/sensuctl.rb
  lib/puppet/provider/sensuctl.rb
  lib/puppet/type/sensu_ldap_auth.rb
  manifests/backend.pp
  spec/acceptance/05_enterprise_spec.rb
  spec/acceptance/sensu_ldap_auth_spec.rb
  spec/classes/backend_spec.rb
  spec/fixtures/unit/provider/sensu_ldap_auth/sensuctl/list.json
  spec/spec_helper_acceptance.rb
  spec/unit/provider/sensu_asset/sensuctl_spec.rb
  spec/unit/provider/sensu_cluster_role/sensuctl_spec.rb
  spec/unit/provider/sensu_cluster_role_binding/sensuctl_spec.rb
  spec/unit/provider/sensu_entity/sensuctl_spec.rb
  spec/unit/provider/sensu_handler/sensuctl_spec.rb
  spec/unit/provider/sensu_ldap_auth/sensuctl_spec.rb
  spec/unit/provider/sensu_mutator/sensuctl_spec.rb
  spec/unit/provider/sensu_namespace/sensuctl_spec.rb
  spec/unit/provider/sensu_role/sensuctl_spec.rb
  spec/unit/provider/sensu_silenced/sensuctl_spec.rb
  spec/unit/provider/sensu_user/sensuctl_spec.rb
  spec/unit/provider/sensuctl_spec.rb
  spec/unit/sensu_ldap_auth_spec.rb
  tests/sensu_license.json.enc
Labels: sensu v2

#1086 Fix autorequire docs to match autorequire on sensu-go-cli
  lib/puppet/type/sensu_asset.rb
  lib/puppet/type/sensu_check.rb
  lib/puppet/type/sensu_cluster_member.rb
  lib/puppet/type/sensu_cluster_role.rb
  lib/puppet/type/sensu_cluster_role_binding.rb
  lib/puppet/type/sensu_config.rb
  lib/puppet/type/sensu_configure.rb
  lib/puppet/type/sensu_entity.rb
  lib/puppet/type/sensu_event.rb
  lib/puppet/type/sensu_filter.rb
  lib/puppet/type/sensu_handler.rb
  lib/puppet/type/sensu_hook.rb
  lib/puppet/type/sensu_mutator.rb
  lib/puppet/type/sensu_namespace.rb
  lib/puppet/type/sensu_role.rb
  lib/puppet/type/sensu_role_binding.rb
  lib/puppet/type/sensu_silenced.rb
  lib/puppet/type/sensu_user.rb
Labels: sensu v2

#1083 Support installing sensu plugins and extensions
  README.md
  data/os/Debian.yaml
  data/os/RedHat.yaml
  lib/puppet/provider/sensu_plugin/sensu_install.rb
  lib/puppet/type/sensu_plugin.rb
  manifests/init.pp
  manifests/plugins.pp
  manifests/repo/community.pp
  spec/acceptance/03_no_ssl_spec.rb
  spec/acceptance/04_plugins_spec.rb
  spec/acceptance/sensu_plugin_spec.rb
  spec/classes/agent_spec.rb
  spec/classes/backend_spec.rb
  spec/classes/plugins_spec.rb
  spec/classes/repo_community_spec.rb
  spec/spec_helper.rb
  spec/unit/provider/sensu_plugin/sensu_install_spec.rb
  spec/unit/sensu_plugin_spec.rb
Labels: in progress, sensu v2

#1089 Add env_vars parameter
  manifests/init.pp
  manifests/package.pp
  spec/classes/sensu_package_spec.rb
  templates/sensu.erb
Labels: in progress, sensu v1

#1091 Update .fixtures-latest.yml
  .fixtures-latest.yml
Labels: sensu v1

#1095 Ensure presence of sensuclassic doesn't break this module
  spec/spec_helper_acceptance.rb
Labels: enhancement, sensu v2
